@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <a href="#" class="instructor_button" role="button"><Center>I am an instructor</Center></a>
    <a href="MainMenuStudents.html" class="student_button" role="button"><Center>I am a student</Center></a>
    <a href="#" class="ta_button" role="button"><Center>I am a teaching assistant</Center></a>
    <img class="ta" src="img/ta.png" alt="resme alternatif yazı" width="150" height="250"><br /><br />
    <img class="inst" src="img/inst.png" alt="resme alternatif yazı" width="150" height="250"><br /><br />
    <img class="stu" src="img/student.png" alt="resme alternatif yazı" width="150" height="250"><br /><br />

    <style>
        .instructor_button{
            position:absolute;
            top: 12cm;
            left: 8cm;
            block-size: 35px; 
            width: 250px;
            background-color: red;
            color: aliceblue;
        }
        .student_button{
            position:absolute;
            top: 12cm;
            left: 16cm;
            block-size: 35px; 
            width: 250px;
            background-color: green;
            color: aliceblue;
        }
        .ta_button{
            position:absolute;
            top: 12cm;
            left: 24cm;
            block-size: 35px; 
            width: 250px;
            background-color: blue;
            color: aliceblue;
        }
        .ta{
            position:absolute;
            left:25cm;
            top:4cm;
        }
        .inst{
            position:absolute;
            left:9cm;
            top:4cm;
        }
        .stu{
            position:absolute;
            left:17cm;
            top:4cm;
        }
    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>