@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Responses</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <a class="dropdown-item" href="#">My Group</a>
                        <a class="dropdown-item" href="#">My Grades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>
                <i class="fas fa-bell    "></i>
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <label class="duz-cerceve"></label>
    <a class="review1" ><b>Review1-</b> </a>
    <a class="name-surname1" ><b>Name Surname1</b> </a>
    <a href="#" class="slack-btn" role="button"><Center>Discuss in Slack</Center></a>
    <a href="#" class="send-btn" role="button"><Center>Send</Center></a>
    <a class="content-1">Content 1</a>
    <a class="content-2">Content 2</a>
    <a class="response1" ><b>Response1-</b> </a>
    <a class="name-surname2" ><b>Name Surname2</b> </a>
    <input class="duz-cerceve1" type="text" id="name" name="name"placeholder="Write a response">
    <style>

    .duz-cerceve{
            position:absolute;
	        border:1px solid #000;
    	    width:1300px;
	        height:500px;
            background-color: white;
            top:3cm;
            left:2cm;
        }
    .duz-cerceve1{
          position:absolute;
	      border:1px solid #000;
    	  width:1200px;
	      height:100px;
          top:12cm;
          left:3cm;
      }   
    .content-1{
        position:absolute;
        top:4.5cm;
        left:2.5cm;
    } 
    .content-2{
        position:absolute;
        top:6.5cm;
        left:3.5cm;
    } 
    .review1{
        position:absolute;
        top:6.5cm;
        left:3.5cm;
    }  
    .response1{
        position:absolute;
        top:3.5cm;
        left:2.5cm;
    } 
    .content-2{
        position:absolute;
        top:7.5cm;
        left:3.5cm;
    } 
    .slack-btn{
            position:absolute;
            top: 3.5cm;
            left: 29cm;
            block-size: 30px; 
            width: 200px;
            background-color: red;
            color: aliceblue;
        }

    .send-btn{
            position:absolute;
            top: 15cm;
            left: 32.1cm;
            block-size: 30px; 
            width: 100px;
            background-color: black;
            color: aliceblue;
        }    

    .name-surname1{
        position:absolute;
        top:3.5cm;
        left:4.8cm;
    }   
    .name-surname2{
        position:absolute;
        top:6.5cm;
        left:5.3cm;
    } 

    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>