@using PeeReview.Models

@{
    EvalauteViewModel evm = ViewBag.Message; 

}
<!doctype html>
<html lang="en">
  <head>
    <title>Evaluate</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    

    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <a class="dropdown-item" href="#">My Group</a>
                        <a class="dropdown-item" href="#">My Grades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>

            
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <a class="assignment-title"><b>Assignment Title</b></a><br />
    <hr class="line" width="1300" height="100"/>
    <a href="#" class="response-btn" role="button"><Center>See responses to the reviews</Center></a>
    <a class="assignment-description"><b>Assignment Description</b></a>
    <label class="duz-cerceve">Assignment Description</label><br /><br />
    <center><img class="file" src="img/file.png" alt="resme alternatif yazı" width="20" height="20"></center>
  <a class="submission-file" href="Profile.html">Submission File</a>
  
<a class="group-evaluation"><b>Evaluate Group</b></a>
   @if (evm.evaluation.Criteria.Count > 0)
              {
                  foreach (string criteria in evm.evaluation.Criteria)
                  {
                      <a class="criteria-title11"><b>@criteria</b></a>
                      <input class="grade11" type="text" placeholder="                  /10"><br />
                  }
                  <input class="note1" type="text" placeholder="notes">
                  <a href="#" class="evaluate-btn1" role="button"><Center>Evaluate</Center></a>
                                                                                           
              }
              else
              {
                  <a class="no-criteria"><b>No criteria</b></a>
              }




      






    <style>
                .submit-btn{
      position:absolute;
      top: 13cm;
      left: 0cm;
      block-size: 35px; 
      width: 300px;
      background-color: red;
      color: aliceblue;
      }
        .note{
            position:absolute;
            top:8cm;
            left:0cm;
            width:800px;
	        height:150px;
        }
        .criterias{
            position:absolute;
            top:10cm;
            left:2cm;
        }

        .criteria-title1{
            position:absolute;
            top:1cm;
        }
        .criteria-title2{
            position:absolute;
            top:2cm;
        }
        .criteria-title3{
            position:absolute;
            top:3cm;
        }
        .criteria-title4{
            position:absolute;
            top:4cm;
        }
        .criteria-title5{
            position:absolute;
            top:5cm;
        }
        .criteria-title6{
            position:absolute;
            top:6cm;
        }
        .grade1{
            position:absolute;
            top:1cm;
            left:2cm;
        }
        .grade2{
            position:absolute;
            top:2cm;
            left:2cm;
        }
        .grade3{
            position:absolute;
            top:3cm;
            left:2cm;
        }
        .grade4{
            position:absolute;
            top:4cm;
            left:2cm;
        }
        .grade5{
            position:absolute;
            top:5cm;
            left:2cm;
        }
        .grade6{
            position:absolute;
            top:6cm;
            left:2cm;
        }
        .assignment-title{
            font-size: 30px;
            position:absolute;
            top:2cm;
            left:2cm;
        }

        .line{
        position:absolute;
        top:3cm;
        left:2cm;
        }
        .response-btn{
      position:absolute;
      top: 2.2cm;
      left: 28cm;
      block-size: 35px; 
      width: 300px;
      background-color: red;
      color: aliceblue;
      }
      .assignment-description{
            position:absolute;
            top:4cm;
            left:2cm;
            font-size:20px;
        }
        .assignment-deadline{
            position:absolute;
            top:9cm;
            left:2cm;
        }

        .duz-cerceve{
          position:absolute;
	      border:1px solid #000;
    	  width:800px;
	      height:150px;
          top:5.5cm;
          left:2cm;
      }
      .file{
        position:absolute;
          left:2cm;
          top:10cm;
      }
      .submission-file{
            position:absolute;
            left:3cm;
            top:10cm;
            font-size:15px;
        }
        .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }



    </style>
    
  



      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>