@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <a class="signup"><b>Sign Up </b></a><br />
    <hr class="line" width="1300" height="100"/>
    <form class="all_items" name="form">
        <label for="fname">Name:&ensp;&ensp;&ensp;&ensp;&nbsp;</label>
        <input type="text" id="name" name="name"><br /><br />
        <label for="fname">Surname:&ensp;&ensp;</label>
        <input type="text" id="surname" name="surname"><br /><br />
        <label for="fname">Student ID:&nbsp;</label>
        <input type="text" id="id" name="id"><br /><br />
        <label for="fname">E-mail:&ensp;&ensp;&ensp;&ensp;&nbsp;</label>
        <input type="text" id="email" name="email"><br /><br />
        <label for="fname">Password:&ensp;&nbsp;</label>
        <input type="password" id="password" name="password" minlength="6" required><br /><br />
        <form >
            Department:
            <select class="combobox" name="dep" id="dep">
              <option value="CS">CS</option>
              <option value="IE">IE</option>
              <option value="EEE">EEE</option>
              <option value="ME">ME</option>
            </select>
          </form>
          <a href="Login.html" class="signup-btn" role="button"><Center>Sign Up</Center></a>
        </form>
    


    <style>
        .signup{
            font-size: 30px;
            position:absolute;
            top:1cm;
            left:2cm;
        }
        .all_items{
            position: absolute;
            top: 3cm;
            left:2cm;
        
        }
        .combobox{
            width: 180px;
        }
        .signup-btn{
            position:absolute;
            top: 12cm;
            left: 2cm;
            block-size: 30px; 
            width: 272px;
            background-color: red;
            color: aliceblue;
        }
        .line{
        position:absolute;
        top:2cm;
        left:2cm;
      }

    </style>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>