@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Assignments</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <a class="dropdown-item" href="#">My Group</a>
                        <a class="dropdown-item" href="#">My Grades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>

            
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <a class="assignment-title"><b>Assignment Title</b></a>
    <hr class="line" width="1300" height="100"/>
    <a class="assignment-description"><b>Assignment Description</b></a>
    <label class="duz-cerceve">Assignment Description</label><br /><br />

    <a class="assignment-deadline"><b>Assignment Deadline</b></a>
    <label class="duz-cerceve1">Deadline</label><br /><br />
      
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <form class="upload-btn"method="post" action="#" id="#">
               
                  
                  
                  
                  <div class="form-group files">
                    <input type="file" class="form-control" multiple="">
                  </div>
                  
                
              </form>
              
              
          </div>
        </div>
    </div>
    <a href="#" class="submit-btn" role="button"><Center>Submit</Center></a>
    <a href="#" class="edit-btn" role="button"><Center>Edit Submission</Center></a>

    <style>
        .container{
            position:absolute;
            top:10.5cm;
            left:7.5cm;
        }
        .assignment-description{
            position:absolute;
            top:5.5cm;
            left:2cm;
        }
        .assignment-deadline{
            position:absolute;
            top:9cm;
            left:2cm;
        }

        .duz-cerceve{
          position:absolute;
	      border:1px solid #000;
    	  width:800px;
	      height:150px;
          top:4cm;
          left:8cm;
      }
      .submit-btn{
          position:absolute;
          left:8cm;
          top:17cm;
          block-size: 35px; 
          width: 350px;
          background-color: red;
          color: aliceblue;
      }
      .edit-btn{
          position:absolute;
          left:20cm;
          top:17cm;
          block-size: 35px; 
          width: 350px;
          background-color: grey;
          color: aliceblue;
      }

      .duz-cerceve1{
          position:absolute;
	      border:1px solid #000;
    	  width:800px;
	      height:30px;
          top:9cm;
          left:8cm;
      }
    .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 800px;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 6cm;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    text-align: center;
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    top:4.3cm;
    left:3.2cm;
    content: "or drag it here. ";
    display: block;
    margin: 0 auto;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.assignment-title{
        font-size: 30px;
            position:absolute;
            top:2cm;
            left:2cm;
}
.line{
        position:absolute;
        top:3cm;
        left:2cm;
      }
      .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }
    </style>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>