@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Create Group</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>
  
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
  
              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>
  
            
                
  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <a class="create"><b>Create Group</b></a><br /> 

    <form class="all_items1" name="form" action="index.asp" method="post">
        <label class="duz-cerceve1"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name1"for="fname">Student Name</label><br>
        <input class="checkbox1"type="checkbox" name="secim2">  <br> 
        <a class="select1">Select</a><br />
    </form>

    <form class="all_items2" name="form" action="index.asp" method="post">
        <label class="duz-cerceve2"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name2"for="fname">Student Name</label><br>
        <input class="checkbox2"type="checkbox" name="secim2">  <br> 
        <a class="select2">Select</a><br />
    </form>

    <form class="all_items3" name="form" action="index.asp" method="post">
        <label class="duz-cerceve3"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name3"for="fname">Student Name</label><br>
        <input class="checkbox3"type="checkbox" name="secim2">  <br> 
        <a class="select3">Select</a><br />
    </form>

    <form class="all_items4" name="form" action="index.asp" method="post">
        <label class="duz-cerceve4"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name4"for="fname">Student Name</label><br>
        <input class="checkbox4"type="checkbox" name="secim2">  <br> 
        <a class="select4">Select</a><br />
    </form>

    <form class="all_items5" name="form" action="index.asp" method="post">
        <label class="duz-cerceve5"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name5"for="fname">Student Name</label><br>
        <input class="checkbox5"type="checkbox" name="secim2">  <br> 
        <a class="select5">Select</a><br />
    </form>

    <form class="all_items6" name="form" action="index.asp" method="post">
        <label class="duz-cerceve6"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name6"for="fname">Student Name</label><br>
        <input class="checkbox6"type="checkbox" name="secim2">  <br> 
        <a class="select6">Select</a><br />
    </form>

    <form class="all_items7" name="form" action="index.asp" method="post">
        <label class="duz-cerceve7"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name7"for="fname">Student Name</label><br>
        <input class="checkbox7"type="checkbox" name="secim2">  <br> 
        <a class="select7">Select</a><br />
    </form>

    <form class="all_items8" name="form" action="index.asp" method="post">
        <label class="duz-cerceve8"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name8"for="fname">Student Name</label><br>
        <input class="checkbox8"type="checkbox" name="secim2">  <br> 
        <a class="select8">Select</a><br />
    </form>

    <form class="all_items9" name="form" action="index.asp" method="post">
        <label class="duz-cerceve9"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name9"for="fname">Student Name</label><br>
        <input class="checkbox9"type="checkbox" name="secim2">  <br> 
        <a class="select9">Select</a><br />
    </form>

    <form class="all_items10" name="form" action="index.asp" method="post">
        <label class="duz-cerceve10"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name10"for="fname">Student Name</label><br>
        <input class="checkbox10"type="checkbox" name="secim2">  <br> 
        <a class="select10">Select</a><br />
    </form>

    <form class="all_items11" name="form" action="index.asp" method="post">
        <label class="duz-cerceve11"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name11"for="fname">Student Name</label><br>
        <input class="checkbox11"type="checkbox" name="secim2">  <br> 
        <a class="select11">Select</a><br />
    </form>

    <form class="all_items12" name="form" action="index.asp" method="post">
        <label class="duz-cerceve12"><center><img class="pp" src="img/profile.png" alt="resme alternatif yazı" width="60" height="60"><br /><br /></center></label><br /><br />
        <label class="name12"for="fname">Student Name</label><br>
        <input class="checkbox12"type="checkbox" name="secim2">  <br> 
        <a class="select12">Select</a><br />
    </form>
    
        

    
       
    <hr class="line" width="1300" height="100"/>
    <a href="#" class="send-btn" role="button"><Center>Send Request</Center></a>
    <select class="combobox" name="dep" id="dep">
        <option value="">Select Course</option>
        <option value="CS 319">CS 319</option>
      </select>
    

    

                                                
  
    <style>
        .groups{
            position:absolute;
            font-size: 30px;
            top:cm;
            left:2cm;
        }
        .select1{
            position:absolute;
            font-size: 15px;
            top:8.95cm;
            left:2.4cm;
        }
        .select2{
            position:absolute;
            font-size: 15px;
            top:8.95cm;
            left:6.4cm;
        }
        .select3{
            position:absolute;
            font-size: 15px;
            top:8.95cm;
            left:10.4cm;
        }
        .select4{
            position:absolute;
            font-size: 15px;
            top:8.95cm;
            left:14.4cm;
        }
        .select5{
            position:absolute;
            font-size: 15px;
            top:8.95cm;
            left:18.4cm;
        }
        .select6{
            position:absolute;
            font-size: 15px;
            top:8.95cm;
            left:22.4cm;
        }
        .select7{
            position:absolute;
            font-size: 15px;
            top:12.95cm;
            left:2.4cm;
        }
        .select8{
            position:absolute;
            font-size: 15px;
            top:12.95cm;
            left:6.4cm;
        }
        .select9{
            position:absolute;
            font-size: 15px;
            top:12.95cm;
            left:10.4cm;
        }
        .select10{
            position:absolute;
            font-size: 15px;
            top:12.95cm;
            left:14.4cm;
        }
        .select11{
            position:absolute;
            font-size: 15px;
            top:12.95cm;
            left:18.4cm;
        }
        .select12{
            position:absolute;
            font-size: 15px;
            top:12.95cm;
            left:22.4cm;
        }
        .create{
            position:absolute;
            font-size: 30px;
            top:2cm;
            left:2cm;
        }
        .student-1{
            position:absolute;
            top:0cm;
            left:0cm;
        }
        .name1{
            position:absolute;
            top:8.2cm;
            left:2cm;

        }
        .name2{
            position:absolute;
            top:8.2cm;
            left:6cm;

        }
        .name3{
            position:absolute;
            top:8.2cm;
            left:10cm;

        }
        .name4{
            position:absolute;
            top:8.2cm;
            left:14cm;

        }
        .name5{
            position:absolute;
            top:8.2cm;
            left:18cm;

        }
        .name6{
            position:absolute;
            top:8.2cm;
            left:22cm;

        }
        .name7{
            position:absolute;
            top:12.2cm;
            left:2cm;

        }
        .name8{
            position:absolute;
            top:12.2cm;
            left:6cm;

        }
        .name9{
            position:absolute;
            top:12.2cm;
            left:10cm;

        }
        .name10{
            position:absolute;
            top:12.2cm;
            left:14cm;

        }
        .name11{
            position:absolute;
            top:12.2cm;
            left:18cm;

        }
        .name12{
            position:absolute;
            top:12.2cm;
            left:22cm;

        }
        .checkbox1{
            position:absolute;
            top:9.1cm;
            left:2cm;
        }

        .checkbox2{
            position:absolute;
            top:9.1cm;
            left:6cm;
        }
        .checkbox3{
            position:absolute;
            top:9.1cm;
            left:10cm;
        }
        .checkbox4{
            position:absolute;
            top:9.1cm;
            left:14cm;
        }
        .checkbox5{
            position:absolute;
            top:9.1cm;
            left:18cm;
        }
        .checkbox6{
            position:absolute;
            top:9.1cm;
            left:22cm;
        }
        .checkbox7{
            position:absolute;
            top:13.1cm;
            left:2cm;
        }
        .checkbox8{
            position:absolute;
            top:13.1cm;
            left:6cm;
        }

        .checkbox9{
            position:absolute;
            top:13.1cm;
            left:10cm;
        }
        .checkbox10{
            position:absolute;
            top:13.1cm;
            left:14cm;
        }
        .checkbox11{
            position:absolute;
            top:13.1cm;
            left:18cm;
        }
        .checkbox12{
            position:absolute;
            top:13.1cm;
            left:22cm;
        }

        .duz-cerceve1{
            position:absolute;
            top:6cm;
            left:2cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve2{
            position:absolute;
            top:6cm;
            left:6cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve3{
            position:absolute;
            top:6cm;
            left:10cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve4{
            position:absolute;
            top:6cm;
            left:14cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve5{
            position:absolute;
            top:6cm;
            left:18cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve6{
            position:absolute;
            top:6cm;
            left:22cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve7{
            position:absolute;
            top:10cm;
            left:2cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve8{
            position:absolute;
            top:10cm;
            left:6cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve9{
            position:absolute;
            top:10cm;
            left:10cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve10{
            position:absolute;
            top:10cm;
            left:14cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve11{
            position:absolute;
            top:10cm;
            left:18cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .duz-cerceve12{
            position:absolute;
            top:10cm;
            left:22cm;
            border:1px solid #000;
    	    width:80px;
	        height:80px;
        }
        .combobox{
            position:absolute;
            left:2cm;
            top:4cm;
            width: 180px;
        }
        .send-btn{
            position:absolute;
            top: 15cm;
            left: 19cm;
            block-size: 30px; 
            width: 200px;
            background-color: red;
            color: aliceblue;
        }
        .line{
        position:absolute;
        top:3cm;
        left:2cm;
      }
      .student-list{
          position:absolute;
          font-size:25px;
          color: black;
          top:3.5cm;
          left:24.5cm;
      }
        .add-btn{
            position:absolute;
            top: 2.5cm;
            left: 3cm;
            block-size: 30px;
            width: 150px;
            background-color: red;
            color: aliceblue;
      }
      .random-btn{
        position:absolute;
            top: 2.5cm;
            left: 9cm;
            block-size: 30px; 
            width: 150px;
            background-color: red;
            color: aliceblue;
      }
      .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }

    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>