@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Find Group</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <a class="dropdown-item" href="#">My Group</a>
                        <a class="dropdown-item" href="#">My Grades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>

            
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <form class="group1" name="form" action="index.asp" method="post">
        <a href="#" class="group-label1" role="button">Group1</a><br />
        <label class="duz-cerceve"><Center>
            <a href="#" class="course_label1" role="button">Member1</a><br />
            <a href="#" class="course_label1" role="button">Member2</a><br />
            <a href="#" class="course_label1" role="button">Member3</a><br />
            <a href="#" class="course_label1" role="button">Member4</a><br />
            <a href="#" class="course_label1" role="button">Member5</a>
        </Center></label><br /><br />
     </form>
     
     <form class="group2" name="form" action="index.asp" method="post">
        <a href="#" class="group-label2" role="button">Group2</a><br />
        <label class="duz-cerceve1"><Center>
            <a href="#" class="course_label1" role="button">Member1</a><br />
            <a href="#" class="course_label1" role="button">Member2</a><br />
            <a href="#" class="course_label1" role="button">Member5</a>
        </Center></label><br /><br />
     </form>
     <form class="group4" name="form" action="index.asp" method="post">
        <a href="#" class="group-label4" role="button">Group3</a><br />
        <label class="duz-cerceve3"><Center>
            <a href="#" class="course_label1" role="button">Member1</a><br />
            <a href="#" class="course_label1" role="button">Member3</a><br />
            <a href="#" class="course_label1" role="button">Member4</a><br />
            <a href="#" class="course_label1" role="button">Member5</a>
        </Center></label><br /><br />
     </form>
     <form class="group5" name="form" action="index.asp" method="post">
        <a href="#" class="group-label5" role="button">Group4</a><br />
        <label class="duz-cerceve4"><Center>
            <a href="#" class="course_label1" role="button">Member1</a><br />
            <a href="#" class="course_label1" role="button">Member2</a><br />
            <a href="#" class="course_label1" role="button">Member3</a><br />
            <a href="#" class="course_label1" role="button">Member5</a>
        </Center></label><br /><br />
     </form>




     <a class="groups"><b>Find Groups</b></a><br />
    <hr class="line" width="1300" height="100"/>
    

    

                                                
  
    <style>
    
        .groups{
            position:absolute;
            font-size: 30px;
            top:2cm;
            left:2cm;
        }
        .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }
        .line{
        position:absolute;
        top:3cm;
        left:2cm;
      }
      .group-label1{
          position:absolute;
          font-size:25px;
          color: black;
          top:3.5cm;
          left:3.5cm;
      }
      .group-label2{
          position:absolute;
          font-size:25px;
          color: black;
          top:3.5cm;
          left:11.5cm;
      }
      .group-label4{
          position:absolute;
          font-size:25px;
          color: black;
          top:10.7cm;
          left:3.5cm;
      }
      .group-label5{
          position:absolute;
          font-size:25px;
          color: black;
          top:10.7cm;
          left:11.5cm;
      }
      .student-list{
          position:absolute;
          font-size:25px;
          color: black;
          top:3.5cm;
          left:24.5cm;
      }
      .duz-cerceve{
	        border:1px solid #000;
    	    width:150px;
	        height:150px;
            background-color: white;
            top:5cm;
            left:3cm;
            position:absolute;
        }
        .add-btn{
            position:absolute;
            top: 2.5cm;
            left: 3cm;
            block-size: 30px;
            width: 150px;
            background-color: red;
            color: aliceblue;
      }
      .random-btn{
        position:absolute;
            top: 2.5cm;
            left: 9cm;
            block-size: 30px; 
            width: 150px;
            background-color: red;
            color: aliceblue;
      }
        .duz-cerceve1{
	        border:1px solid #000;
    	    width:150px;
	        height:150px;
            background-color: white;
            top:5cm;
            left:11cm;
            position:absolute;
        }
        .duz-cerceve3{
	        border:1px solid #000;
    	    width:150px;
	        height:150px;
            background-color: white;
            top:12cm;
            left:3cm;
            position:absolute;
        }
        .duz-cerceve4{
	        border:1px solid #000;
    	    width:150px;
	        height:150px;
            background-color: white;
            top:12cm;
            left:11cm;
            position:absolute;
        }

    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>