@{
    
}
<!doctype html>
<html lang="en">
  <head>
    <title>Grade Individuals</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>
  
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
  
              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>
  
            
                
  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <a class="assignment-title"><b>Assignment1</b></a><br />
    <hr class="line" width="1300" height="100"/>
    <a href="#" class="grade-ind-btn" role="button"><Center>Grade Individually</Center></a>
    <form class="criteria1" name="form" action="index.asp" method="post">
        <a class="criteria-title1"><b>Criteria1</b></a>
        <input class="grade1" type="text" placeholder="                  /10"><br />
        <input class="note1" type="text" placeholder="notes">
     </form>
     <form class="criteria2" name="form" action="index.asp" method="post">
        <a class="criteria-title2"><b>Criteria2</b></a>
        <input class="grade2" type="text" placeholder="                  /10"><br />
        <input class="note2" type="text" placeholder="notes">
     </form>
     <form class="criteria3" name="form" action="index.asp" method="post">
        <a class="criteria-title3"><b>Criteria3</b></a>
        <input class="grade3" type="text" placeholder="                  /10"><br />
        <input class="note3" type="text" placeholder="notes">
     </form>
     <form class="criteria4" name="form" action="index.asp" method="post">
        <a class="criteria-title4"><b>Criteria4</b></a>
        <input class="grade4" type="text" placeholder="                  /10"><br />
        <input class="note4" type="text" placeholder="notes">
     </form>
     <form class="criteria5" name="form" action="index.asp" method="post">
        <a class="criteria-title5"><b>Criteria5</b></a>
        <input class="grade5" type="text" placeholder="                  /10"><br />
        <input class="note5" type="text" placeholder="notes">
     </form>
     <form class="criteria6" name="form" action="index.asp" method="post">
        <a class="criteria-title6"><b>Criteria6</b></a>
        <input class="grade6" type="text" placeholder="                  /10"><br />
        <input class="note6" type="text" placeholder="notes">
     </form>
     <a href="#" class="submit-btn" role="button"><Center>Submit</Center></a>

    <style>
            .assignment-title{
            font-size: 30px;
            position:absolute;
            top:2cm;
            left:2cm;
        }
        .line{
        position:absolute;
        top:3cm;
        left:2cm;
      }
      .grade-ind-btn{
          position:absolute;
          top:2.5cm;
          left:29cm;
          background-color: lightseagreen;
          color:white;
          block-size: 30px; 
          width: 200px;
      }
      .criteria1{
          position:absolute;
          left:2cm;
          top:4cm;
      }
      .note1{
          position:absolute;
          top:1cm;
          width:255px;
          height:150px;
      }
      .criteria2{
          position:absolute;
          left:2cm;
          top:10cm;
      }
      .note2{
          position:absolute;
          top:1cm;
          width:255px;
          height:150px;
      }
      .criteria3{
          position:absolute;
          left:10cm;
          top:4cm;
      }
      .note3{
          position:absolute;
          top:1cm;
          width:255px;
          height:150px;
      }
      .criteria4{
          position:absolute;
          left:10cm;
          top:10cm;
      }
      .note4{
          position:absolute;
          top:1cm;
          width:255px;
          height:150px;
      }
      .criteria5{
          position:absolute;
          left:18cm;
          top:4cm;
      }
      .note5{
          position:absolute;
          top:1cm;
          width:255px;
          height:150px;
      }
      .criteria6{
          position:absolute;
          left:18cm;
          top:10cm;
      }
      .note6{
          position:absolute;
          top:1cm;
          width:255px;
          height:150px;
      }
      .submit-btn{
          position:absolute;
          top:16cm;
          left:2cm;
          background-color: red;
          color:white;
          block-size: 30px; 
          width: 860px;
      }
      .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }
    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>