@using PeeReview.Models
@{
    Group group = ViewBag.Message;
}
<!doctype html>
<html lang="en">
  <head>
    <title>Group</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile ">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <a class="dropdown-item" href="#">My Group</a>
                        <a class="dropdown-item" href="#">My Grades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>

            
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <a class="your-group"><b>Your Group</b></a><br />
    <hr class="line" width="1300" height="100"/>
    
    <form class="all_items" name="form" >
        <center><img class="pin1" src="img/pin.png" alt="resme alternatif yazı" width="20" height="20"></center>
        <a class="github-link" href="#">Githublink</a>
        <center><img class="pin2" src="img/pin.png" alt="resme alternatif yazı" width="20" height="20"></center>

        <div class="readme">
            <button class="btn1 btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Readme
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="#">Readme</a>
            </div>
        </div>
        <div class="members">
            <button class="btn2 btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Members
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                @if (group.students.Count > 0)
                {
                    foreach (Student student in group.students)
                    {
                        <a class="dropdown-item" href="#">@student.Name</a>
                    }
                }
                else
                {
                    
                }
            </div>
        </div>
        <div class="past-assignments">
            <button class="btn3 btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Past Assignments
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                @if (group.assignments.Count > 0)
                {
                    foreach (Assignment assignment in group.assignments)
                    {
                        <a class="dropdown-item" href="../Assignment/GroupAssignmentsStudent">@assignment.title</a>
                     }
                       }
                    else
                {
                                    
                }

            </div>
        </div>
        <div class="grades">
            <button class="btn4 btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Evaluations
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                 @if (group.groupAverageEvals.Count > 0)
                                {
                                    foreach (KeyValuePair<string, double> dic in group.groupAverageEvals)
                                    {
                                        <a class="dropdown-item" href="../Evaluate/EvaluateTeamMembers">@dic.Value</a>
                                     }
                                       }
                                    else
                                {
                                                    
                                }

            </div>
        </div>
        <div class="evaluations">
            <button class="btn5 btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Grades
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                @if (group.assignments.Count > 0)
                         {
                                  foreach (Assignment assignment in group.assignments)
                                  {
                                       <a class="dropdown-item" href="#">@assignment.grade</a>
                                       }
                                        }
                                             else{}
                                    
                                                      

            </div>
        </div>
        <a href="#" class="exit-btn" role="button"><Center>Exit Group</Center></a>
    </form>
    <a class="chemistry-text"><b>Chemistry of the group is perfect!</b></a><br />

    



    <style>
        .chemistry-text{
            font-size: 20px;
            position:absolute;
            top:4cm;
            left:23cm;
        }
        .your-group{
        font-size: 30px;
        position:absolute;
        top:2cm;
        left:2cm;
        }
        .line{
        position:absolute;
        top:3cm;
        left:2cm;
      }
      .all_items{
          position:absolute;
          top:4cm;
          left:2cm;
      }
      .github-link{
          position:absolute;
          top:0cm;
          left:1cm;
          color:black;
      }
      .pin2{
          position:absolute;
          top:1.3cm;
          left:0cm;
      }
      .readme{
          position:absolute;
          top:1cm;
          left:1cm;
      }
      .members{
          position:absolute;
          top:2.5cm;
          left:1cm;
      }
      .past-assignments{
          position:absolute;
          top:4cm;
          left:1cm;
          width:500px;
      }
      .grades{
          position:absolute;
          top:5.5cm;
          left:1cm;
      }
      .evaluations{
          position:absolute;
          top:7cm;
          left:1cm;
      }
      .exit-btn{
          position:absolute;
          top:10cm;
          left:1cm;
          block-size: 30px; 
          width: 200px;
          background-color: lightgray;
          color: aliceblue;
      }
      .btn1{
          width:200px;
      }
      .btn2{
          width:200px;
      }
      .btn3{
          width:200px;
      }
      .btn4{
          width:200px;
      }
      .btn5{
          width:200px;
      }
      .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }


      
    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>