@using PeeReview.Models
@{
  var data = ViewBag.Message;
}
<!doctype html>
<html lang="en">
  <head>
    <title>Main Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    

    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <a class="dropdown-item" href="#">My Group</a>
                        <a class="dropdown-item" href="#">My Grades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>

            
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
    </div>

    <a href="#" class="evaluate-btn" role="button"><Center>Evaluate Team Members</Center></a>
    <label class="duz-cerceve"></label>
    <label class="duz-cerceve1"></label>
  <label class="duz-cerceve2"></label>
  @if (data.assignments.Count > 0)
  {
    foreach (var assignment in data.assignments)
    {
      <a class="assignment-title" href="#">@assignment.title</a><br>
      <a class="assignment-description" href="#">@assignment.description</a><br> 
      <a class="assignment-deadline" href="#">@assignment.deadlineDateTime.ToString("yyyy MMMM dd")</a><br>
    }
  }
  else
  {
    <a class="assignment3" href="#">No assignment yet</a>
  }
  <a class="my-assignments"><b>My Assignments</b></a>

    <a class="assignment1" href="#">Assignment 1</a><br>
    <a class="assignment2" href="#">Assignment 2</a><br>
    <a class="assignment3" href="#">Assignment 3</a>

  <a class="my-courses"><b>My Courses</b></a>
  @if (data.courses.Count > 0)
  {
    foreach (var course in data.courses)
    {
      <a class="course1" href="#">@course.CourseName</a>
      <br>
    }
  }
  else {
    <a class="message" href="#">No courses yet </a><br>
  }
  
 @if (data.evaluations.Count > 0)
 {
   foreach (var eval in data.evaluations)
   {
     <a class="evaluation1" href="#"></a>
     <br>
   }
   <a class="my-evaluations"><b>My Evaluations</b></a>
 }
    <a class="evaluation1" href="#">Evaluation 1</a><br>
    <a class="evaluation2" href="#">Evaluation 2</a><br>
    <a class="evaluation3" href="#">Evaluation 3</a>

    <input class="checkbox1" type="checkbox" name="secim2">
    <a class="completed"><b>Completed </b></a> 

    <input class="checkbox2" type="checkbox" name="secim2">
    <a class="inprogress"><b>In progress </b></a> 

    <input class="checkbox3" type="checkbox" name="secim2">
    <a class="upcoming"><b>Upcoming </b></a> 

    
    <script>
      $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
      });
    </script>

    <style>
      .assignment1{
        position:absolute;
        top:5.2cm;
        left:2.5cm;
      }
      .completed{
        position: absolute;
        font-size: 12px;
        top:4.3cm;
        left:10.5cm;
      }
      .checkbox1{
            position:absolute;
            top:4.4cm;
            left:10cm;
        }

        .inprogress{
        position: absolute;
        font-size: 12px;
        top:4.3cm;
        left:13.5cm;
      }
      .checkbox2{
            position:absolute;
            top:4.4cm;
            left:13cm;
        }

        .upcoming{
        position: absolute;
        font-size: 12px;
        top:4.3cm;
        left:16.5cm;
      }
      .checkbox3{
            position:absolute;
            top:4.4cm;
            left:16cm;
        }  
      .assignment2{
        position:absolute;
        top:6.2cm;
        left:2.5cm;
      }
      .assignment3{
        position:absolute;
        top:7.2cm;
        left:2.5cm;
      }
      .course1{
        position:absolute;
        top:11.2cm;
        left:2.5cm;
      }
      .course2{
        position:absolute;
        top:12.2cm;
        left:2.5cm;
      }
      .course3{
        position:absolute;
        top:13.2cm;
        left:2.5cm;
      }

      .evaluation1{
        position:absolute;
        top:17.2cm;
        left:2.5cm;
      }
      .evaluation2{
        position:absolute;
        top:18.2cm;
        left:2.5cm;
      }
      .evaluation3{
        position:absolute;
        top:19.2cm;
        left:2.5cm;
      }
      .evaluate-btn{
      position:absolute;
      top: 2cm;
      left: 15cm;
      block-size: 35px; 
      width: 400px;
      background-color: red;
      color: aliceblue;
      }
      .my-assignments{
        position:absolute;
        font-size: 25px;
        top:4cm;
        left: 2.5cm;
      }
      .my-courses{
        position:absolute;
        font-size: 25px;
        top:10cm;
        left: 2.5cm;
      }
      .my-evaluations{
        position:absolute;
        font-size: 25px;
        top:16cm;
        left: 2.5cm;
      }
      .duz-cerceve{
          position:absolute;
	      border:1px solid #000;
    	  width:1200px;
	      height:200px;
          top:4cm;
          left:2cm;
      }
      .duz-cerceve1{
          position:absolute;
	      border:1px solid #000;
    	  width:1200px;
	      height:200px;
          top:10cm;
          left:2cm;
      }
      .duz-cerceve2{
          position:absolute;
	      border:1px solid #000;
    	  width:1200px;
	      height:200px;
          top:16cm;
          left:2cm;
      }

      .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
        background-color: red;
        color: white;
      }
      .form-check1{
        position:absolute;
        left: 10cm;
      }
      .assignments{
        position:absolute;
        top:4cm;
        left:2cm;
        width:1100px;
        border:solid;
      }
      .evaluations{
        position:absolute;
        top:9cm;
        width:1100px;
        left:2cm;
        border:solid;
      }
      .grades{
        position:absolute;
        top:14cm;
        width:1100px;
        left:2cm;
        border:solid;
      }
      .btncheck1{
        color:white;
      }


    </style>
    
  



      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>