
@using PeeReview.Models
@{
    Course course = ViewBag.Message;
}
<!doctype html>
<html lang="en">
  <head>
    <title>Course Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="pp" src="img/3lines.png" alt="resme alternatif yazı" width="20" height="20"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="Profile.html">My Profile</a>
                        <a class="dropdown-item" href="CoursesStudent.html">My Courses</a>
                        <a class="dropdown-item" href="#">My Assignments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                        
  
                    </div>
                </li>
  
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
  
              <li class="nav-item active">
                <a class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
            </li>
  
            
                
  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <a class="course-code"><b>@course.CourseCode - </b></a>
    <a class="course-title"><b>@course.CourseName </b></a><br />
    <hr class="line" width="1300" height="100"/><br />

    <a href="#" class="create-group-btn" role="button"><Center>Create Project</Center></a>
    <a href="#" class="find-group-btn" role="button"><Center>Create Assignment</Center></a>
    <input class="course-description placeholder" type="text" id="name" name="name"placeholder="Course Description">
    <a href="#" class="edit-btn" role="button"><Center>Edit</Center></a>
  <form class="assignments" name="form" >
      <a class="assignments-title"><b>Assignments</b></a>
      @if (course.Assignments.Count > 0)
      {
          foreach (Assignment assignment in course.Assignments)
          {
              <label class="duz-cerceve1"><a href="#" class="assignments">@assignment.title</a></label>
          }
            
      }
      else
      {
          <label class="duz-cerceve1"><a href="#" class="assignments">No assignments</a></label>

      }
  </form>
  
     <form class="groups" name="form" >
         <a class="groups-title"><b>Groups</b></a>
         @if (course.Groups.Count > 0)
               {
                   foreach (Group group in course.Groups)
                   {
                       <label class="duz-cerceve1"><a href="#" class="groups">@group.name</a></label>
                   }
                     
               }
               else
               {
                   <label class="duz-cerceve1"><a href="#" class="groups">No groups</a></label>
         
               }
</form>
     <form class="graders" name="form" >
        <a class="graders-title"><b>Graders</b></a>
        <label class="duz-cerceve3"><a href="#" class="graders">• Grader1</a></label>
     </form>
    

    <style>
        .course-code{
            font-size: 30px;
            position:absolute;
            top:2cm;
            left:2cm;
        }
        .course-title{
            font-size: 30px;
            position:absolute;
            top:2cm;
            left:7.5cm;
        }
        .line{
            position:absolute;
            top:3cm;
            left:2cm;
        }
        .create-group-btn{
            position:absolute;
            top: 4cm;
            left: 2cm;
            block-size: 30px; 
            width: 175px;
            background-color: red;
            color: aliceblue;
        }
        .find-group-btn{
            position:absolute;
            top: 4cm;
            left: 8cm;
            block-size: 30px; 
            width: 175px;
            background-color: red;
            color: aliceblue;
        }
        .duz-cerceve{
	      border:1px solid #000;
    	  width:1308px;
	      height:150px;
          position: absolute;
          left:2cm;
          top:5cm;
         }
         .duz-cerceve1{
	      border:1px solid #000;
    	  width:400px;
	      height:150px;
          position: absolute;
          left:2cm;
          top:10.8cm;
         }
         .assignments-title{
            font-size: 30px;
            position:absolute;
            top:9.5cm;
            left:2cm;
         }
         .duz-cerceve2{
	      border:1px solid #000;
    	  width:400px;
	      height:150px;
          position: absolute;
          left:14cm;
          top:10.8cm;
         }
         .duz-cerceve3{
	      border:1px solid #000;
    	  width:400px;
	      height:150px;
          position: absolute;
          left:26cm;
          top:10.8cm;
         }
         .graders-title{
            font-size: 30px;
            position:absolute;
            top:9.5cm;
            left:14cm;
         }
         .groups-title{
            font-size: 30px;
            position:absolute;
            top:9.5cm;
            left:26cm;
         }
         .course-description{
            width:1308px;
	         height:150px;
            position: absolute;
            left:2cm;
            top:5cm;
         }
         .edit-btn{
            position:absolute;
            top: 8cm;
            left: 33.5cm;
            block-size: 30px; 
            width: 100px;
            background-color: red;
            color: aliceblue;
         }
         .justify-content-center{
        position: absolute;
        top: 3cm;
        left: 3cm;
        width: 1100px;
        height: 600px;
      }

      .form-inline{
        position:absolute;
        left:17cm;
      }
      .btn{
      
      background-color: red;
      color: white;
    }
    </style>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>